<section class="results-header">
  <p>Results for "<%= query %>"</p>
</section>

<% if (followMessage) { %>
<p class="follow-msg"><%= followMessage %></p>
<% } %> <% if ((movies || []).length > 0) { %>
<div class="grid-container">
  <div class="results-grid">
    <% movies.forEach(movie => { %> <%- include('partials/_results-movie-card',
    { movie, user, followedMovieIds, query: query || '', showFollowButton: true
    }) %> <% }); %>
  </div>
</div>

<%- include('partials/_pagination-search', { totalPages, currentPage, query })
%> <% } else if (query) { %>
<p style="text-align: center">No results found for "<%= query %>".</p>
<% } %>
